<ag-grid-angular
    #agGrid
    [suppressHorizontalScroll]="isSuppressHorizontalScroll"
    [ngStyle]="style"
    class="ag-theme-alpine"
    [ngClass]="className ? className : ''"
    style="width: 100%; height: 100%;"
    [modules]="modules"
    [domLayout]="autoHeight"
    [suppressRowClickSelection]="isSuppressRowClickSelection"
    [suppressHorizontalScroll]="disabledHorizontalScroll"
    [floatingFilter]="enableFilter"
    [suppressPropertyNamesCheck]="true"
    [suppressColumnVirtualisation]="true"

    [groupSelectsChildren]="rowSelection === 'multiple'"
    [rowDragManaged]="true"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [enableRangeSelection]="true"
    [pagination]="false"
    [animateRows]="true"
    [rowClassRules]="rowClassRules"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [frameworkComponents]="frameworkComponents"
    [singleClickEdit]="singleClickEdit"
    [suppressScrollOnNewData]="true"
    [groupIncludeTotalFooter]="groupIncludeTotalFooter"
    [groupIncludeFooter]="groupIncludeFooter"
    [suppressPaginationPanel]="true"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [groupUseEntireRow]="groupUseEntireRow"
    [suppressMoveWhenRowDragging] ="suppressMoveWhenRowDragging"
    (rowDragEnter)="onRowDragEnter($event)"
    (rowDragEnd)="onRowDragEnd($event)"
    (rowDragMove)="onRowDragMove($event)"
    (rowDragLeave)="onRowDragLeave($event)"
    [suppressDragLeaveHidesColumns]="true"
    [tabToNextCell]="tabToNextCell"
    [suppressAggFuncInHeader]="suppressAggFuncInHeader"
    [enableCellTextSelection]=true
    (selectionChanged)="onSelectionChanged($event)"
    (rowClicked)="onRowClicked($event)"
    (rowSelected)="onRowSelected($event)"
    (rowFocused)="onRowFocused($event)"
    [rowSelection]="rowSelection"
    (cellDoubleClicked)="cellDoubleClickedEvent($event)"
    (cellClicked)="cellClickedEvent($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (rowValueChanged)="onRowValueChanged($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    [processCellForClipboard]="processCellForClipboard"
    [stopEditingWhenGridLosesFocus]="true"
    [suppressCopyRowsToClipboard]="true"
    [groupMultiAutoColumn]="true"
    (cellFocused)="onCellFocused($event)"
    (focus)="focus($event)"
    [masterDetail]="masterDetail"
    [detailCellRendererParams]="detailCellRendererParams"
    [modules]="modules"
    [rowModelType]="'clientSide'"
    (keyup)="onKeyUp($event)"
    (keydown)="onKeyDown($event)"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [getRowStyle]="getRowStyle"
    [sideBar]="isViewSideBar ? sideBar : ''"
    (cellMouseOver)="onCellMouseOver($event)"
    [detailRowHeight]="detailRowHeight"
    (cellKeyPress)="onCellKeyPress($event)"
    (charPress)="onKeyPress($event)"

    [suppressRowTransform]="suppressRowTransform"
    [headerHeight]="headerHeight"
>
</ag-grid-angular>

<grid-pagination
  *ngIf="showPagination"
  [pageSize]="paginationParams.pageSize"
  [gridApi]="gridApi"
  [paginationParams]="paginationParams"
  (pageChangedEvent)="changePage($event)"
>
</grid-pagination>
