<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">
            <form *ngIf="active" #mstGenProvincesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="student.id">{{ l("Sửa thông tin sinh viên") }}</span>
                        <span *ngIf="!student.id">{{ l("Thêm mới sinh viên") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'" [isRequired]="true" [(ngModel)]="student.name"
                                            [text]="l('Tên SV:')" name="Name" [maxlength]="50" required></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'" type="number" [isRequired]="true" [(ngModel)]="student.studentNo"
                                            [text]="l('Mã SV')" name="StudentNo" [maxlength]="50" required></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <tmss-combobox [className]="'ipStRequire'"  [isRequired]="true" type="number"
                                             [items]="listGender" [(ngModel)]="student.gender" [text]="l('Giới tính')" name="gender" required></tmss-combobox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <tmss-text-input type="number" [className]="'ipStRequire'"  [isRequired]="true" [(ngModel)]="student.cmnd"
                                             [text]="l('Số căn cước/cmt')" name="Cmnd" required ></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <tmss-text-input [className]="'ipStRequire'" [isRequired]="false"  [(ngModel)]="student.phone"
                                            [text]="l('Số điện thoại')" name="Phone" [maxlength]="50"></tmss-text-input>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <tmss-checkbox [className]="'ipStRequire'" *ngIf="student.id" [isDisabled]="true"  [isRequired]="true" [(ngModel)]="student.isRoom"
                                            [text]="l('Đã có phòng')" name="IsRoom" [maxlength]="50"></tmss-checkbox>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="tmss-btn btn-outline-danger" (click)="close()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" class="tmss-btn btn-outline-primary"
                        [disabled]="!mstGenProvincesForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save mr-1"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
