
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" >
    <div class="kt-subheader kt-grid__item redline-header" >
        <div [class]="containerClass">
            <div class="kt-subheader__main" >
                <h3 class="kt-subheader__title">
                    <span >{{l("Quản lý ký túc xá")}}</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">{{l("Quản lý sinh viên")}}</span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">

                    <button type="button" class="tmss-btn btn-outline-primary" (click)="createMstGenProvinces()" >
                        <i class="tmss-fa fas fa-plus mr-1"></i>{{l("Add")}}</button>
                    <button type="button" class="tmss-btn btn-outline-primary" (click)="editMstGenProvinces()" [disabled]="!selectStudentId" >
                        <i class="tmss-fa fas fa-edit mr-1"></i>{{l("Edit")}}
                    </button>
                    <button type="button" class="tmss-btn btn-outline-danger" (click)="deleteMstGenProvinces()"
                            [disabled]="!selectStudentId"><i class="fa fa-trash mr-1"></i>{{l("Delete")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'" >
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body" style="background-color: #6b6b6e;">
                <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <tmss-text-input [className]="'ipStRequire'" [isRequired]="false"  [(ngModel)]="nameFilter"
                                        [text]="l('Tên SV:')" name="Name" [maxlength]="50"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <tmss-text-input [className]="'ipStRequire'" [isRequired]="false"  [(ngModel)]="noFilter"
                                        [text]="l('Mã SV')" name="StudentNo" [maxlength]="50"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <tmss-text-input type="text" [className]="'ipStRequire'"  [isRequired]="false"   [(ngModel)]="cmndFilter"
                                         [text]="l('Số căn cước/cmt')" name="Cmnd" ></tmss-text-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <tmss-text-input [className]="'ipStRequire'" [isRequired]="false"  [(ngModel)]="phoneFilter"
                                        [text]="l('Số điện thoại')" name="Phone" [maxlength]="50"></tmss-text-input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <tmss-combobox [className]="'ipStRequire'"  [isRequired]="false" type="number"
                                         [items]="listGender" [(ngModel)]="genderFilter" [text]="l('Giới tính')" name="gender"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <tmss-combobox [className]="'ipStRequire'"  [isRequired]="false" type="number"
                                        [items]="listStatus" [(ngModel)]="statusFilter" [text]="l('Trạng thái')" name="status"></tmss-combobox>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" >
                                        <button type="button" class="tmss-btn btn-outline-primary" (click)="clearValueFilter()">
                                            <i class="tmss-fa fas fa-redo mr-1"></i>{{l("Làm mới")}}
                                        </button>
                                        <button  (click)="search()"  class="tmss-btn btn-outline-primary "
                                            type="submit"><i class="fa fa-search mr-1"></i>{{l("Tìm kiếm")}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="item col-12">
                            <div class="tbContent"> {{l('Danh sách sinh viên')}}</div>
                            <grid-table [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef"
                                (changePaginationParams)="changePage($event)"
                                (onChangeSelection)="onChangeSelection($event)"
                                [paginationParams]="paginationParams"
                                [rowData]="rowData"
                                [frameworkComponents]="frameworkComponents"
                                [height]="'458px'"
                            ></grid-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-create-or-edit-student
    #createOrEditStudent
    (modalSave)="onGridReady(paginationParams)">
</app-create-or-edit-student>
